@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  background-color: white;
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  border-bottom: 3px solid coral;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  background-color: coral;
  border-radius: 5px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid coral;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.blog-preview h2 {
  font-size: 20px;
  color: coral;
  margin-bottom: 8px;
}

.delete {
  border: none;
  background-color: lightcoral;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.delete:hover {
  background-color: coral;
  color: #333;
}

.blog-preview a {
  text-decoration: none;
}

.blog-details h2 {
  font-size: 20px;
  color: coral;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: coral;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #333;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
}

.create button {
  border: none;
  background-color: lightcoral;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.create button:hover {
  background-color: coral;
  color: #333;
}
